.jumbotron { 
    text-align: center;
}
::placeholder {
    text-align: start;
    padding-left: 3px;
  }
button {
    align-self: right;
}
textarea {
    align-self: center;
}
#prediction_return{
    border: 2px solid black;
    margin: 20px;  
    padding: 25px;
    text-align: center;
}
#img {
    border: 2px solid black;
}